In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

# STEP 1: Load the CSV file 
housedf = pd.read_csv("california_house_dataset_handled.csv")
housedf.head(5)

,X0,encoded_ocean_proximity,longitude,latitude,housing_median_age,population,median_income,median_house_value
0,1,1,-122.23,37.88,41,322,8.3252,452600
1,1,1,-122.22,37.86,21,2401,8.3014,358500
2,1,1,-122.24,37.85,52,496,7.2574,352100
3,1,1,-122.25,37.85,52,558,5.6431,341300
4,1,1,-122.25,37.85,52,565,3.8462,342200

In [ ]:
# STEP 2: Make a clean copy and drop unused columns
df = housedf.copy()
df = df.drop(columns=['X0'])  # Not useful for modeling
#batterydf.head(5)